{% extends 'base.html' %}

{% block content %}
{% for new in object_list %}
			<article style="margin: 0 auto; align-items: center;" class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-xxs-6 animate-box">
				<figure>

					<a href="{{new.slug}}"> <span class="fh5co-meta"><a href="{{new.slug}}">
<img src="{{new.image.thumbnail.url}}" alt="{{new.slug}}" class="img-responsive" style="display: inline; float:left; padding-right:10px;">
						{{new.category}}

					</a></span>
					{% if request.session.lang == "ro" %}
				<h5 class="fh5co-article-title"><a style="color:black; display: inline;color:black" href="{{new.slug}}">{{new.title_rom|truncatewords:8}}</a></h5>
{% else %}
				<h5 class="fh5co-article-title"><a style="color:black display: inline;color:black" href="{{new.slug}}">{{new.title|truncatewords:8}}</a></h5>
{% endif %}
					</a>
				</figure>

				<span style="margin-bottom:2px; font-size: 0.8em" class="fh5co-meta fh5co-date">{{new.date}}</span>


			</article>
			{% endfor %}
{% endblock %}

<!--<span  class="fh5co-meta" style="text-align: left; margin-top:0px">-->
					<!--{% if request.session.lang == "ro" %}-->
					<!--{{new.content_rom|truncatewords:6}} <a href="{{new.slug}}"> Read More </a>-->
				<!--{% else %}-->
					<!--{{new.content|truncatewords:6}} <a href="{{new.slug}}"> Read More </a>-->
					<!--{% endif %}-->
				<!--</span>-->